@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Playfair+Display:wght@400;600;800&display=swap');

*,
*::before,
*::after {
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: 'Inter', sans-serif;
}

.container {
   width: 85%;
   max-width: 1366px;
}
